$font-es: 1rem;
$font-sm: 1.2rem;
$font-md: 1.8rem;
$font-lg: 2.2rem;
$font-xl: 2.8rem;

$gap-es: 1rem;
$gap-sm: 2rem;
$gap-md: 3rem;
$gap-lg: 4rem;
$gap-xl: 5rem;

$p-es: 1rem;
$p-sm: 1.2rem;
$p-md: 1.8rem;
$p-lg: 2.2rem;
$p-xl: 2.8rem;

$m-es: 1rem;
$m-sm: 1.2rem;
$m-md: 1.8rem;
$m-lg: 2.2rem;
$m-xl: 2.8rem;



$color-white: #f2ece2;
$color-primary: #f0894d;
$color-secondary: #f3eae1;
$color-pitch: #fcbea4;
$color-yellow: #fce6bd;
$color-black: #111111;
$color-gray: #9d9d9d;
