.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(auto, max-content) minmax(20rem, 15%) 1fr;
  @media (max-width: 75em) {
    grid-template-columns: minmax(auto, max-content) 1fr;
  }

  @media (max-width: 53em) {
    display: block;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 70fr 30fr;


  @media (max-width: 53em) {
    grid-template-columns: 1fr;
  }
}
