@use "./../abstracts/variables" as *;

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--smaller-screen {
    display: none;
  }

  @media (max-width: 53em) {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.user-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-es;

  @media (max-width: 53em) {
    display: inline-flex;
    justify-content: flex-end;
    gap: $gap-md;
    margin-right: $m-md;
  }

  @media (max-width: 53em) {
    &--bigger-screen {
      display: none;
    }
  }

  &__noti {
    position: relative;
    font-size: $font-lg;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-primary;
      top: 7%;
      right: 25%;
    }
  }

  &__pp {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__pn {
    font-size: $font-sm * 1.2;
    font-weight: 600;
    & span {
      color: $color-gray;
      font-size: $font-sm;
    }
  }

  &__drop {
    font-size: $font-lg;
    color: $color-primary;
    background-color: mix(white, $color-gray, 85%);

    border-radius: 50%;
  }
}
