@use "./../abstracts/variables" as *;

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: $p-es;
  &__text {
    color: $color-primary;
    font-size: $font-md;
  }
}
