@use "./../abstracts/variables" as *;

.heading-primary {
  font-size: $font-xl;
  font-weight: 600;
}

.heading-secondary {
  font-size: $font-lg;
  font-weight: 600;
}

.heading-ternary {
  font-size: $font-md;
  font-weight: 600;
}
